---

import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout>
    <section class="mt-32 px-3 lg:px-52">
        <h1 class="text-4xl  text-center">お問い合わせ</h1>

        <p class="text-base mt-10 text-center">ご意見、ご質問は下記のフォームからお願いします。 些細なことでもかまいませんので、お気軽にお問い合せください。 ※お取引希望のお客様（B to B)のお問い合わせはこちらへ</p>
    </section>
</BaseLayout>