@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "\6e38\660e\671d", "\6e38\660e\671d\4f53", "Yu Mincho", YuMincho, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  line-height: 32px;
}
