@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "\6e38\660e\671d", "\6e38\660e\671d\4f53", "Yu Mincho", YuMincho, serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

p {
	font-size: 18px;
	line-height: 32px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	border-color: #FF7924;
	content: '';
	display: inline-block;
	height: 100%;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 100%;
}

.chevron.right:before {
	left: -.5em;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.scrolldown {
	position: absolute;
	left: 50%;
	z-index: 9;
	width: 50px;
	height: 90px;
	color: #bbbbbb;
	text-shadow: 2px 2px #333333;
	bottom: 5rem;
	font-size: 0.8rem;
	transform: translateX(-50%);
	opacity: 0.8;
}

.scrolldown::before {
	content: "";
	width: 0.15rem;
	height: 2rem;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: #bbbbbb;
	opacity: 1;
	-webkit-animation: drop 2s linear infinite;
	animation: drop 2s linear infinite;
}

@media screen and (max-width: 768px) {
	.scrolldown::before {
		height: 2rem;
		top: 5rem;
	}
}

@media screen and (max-width: 768px) {
	.scrolldown {
		bottom: 1rem;
	}
}

@keyframes drop {
	0% {
		transform: translateY(-100%);
	}

	45% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(40%);
	}

	to {
		transform: translateY(100%);
	}
}

@-webkit-keyframes drop {
	0% {
		transform: translateY(-100%);
	}

	45% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(40%);
	}

	to {
		transform: translateY(100%);
	}
}