@charset "utf-8";

/************************************************
 import css
************************************************ */
/*TOPスライダー*/
#main_slide_image {
	display: none;
}
/*TOPスライダー*/
body {
	/* font-family: "Cormorant Infant", "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif; */
	font-family: "游明朝","游明朝体","Yu Mincho",YuMincho,serif;
	-webkit-font-smoothing: antialiased;
}


#logo_area img.b-logoblock {
	width: 220px;
}

#header_login_area div.btn a {
	background: #ae9e88 none repeat scroll 0% 0%;
	border-radius: 5px;
	font-size: 14px;
}

.flow_area {
	width: 1140px;
	display: none;
}


#main_column h2.title {
    width: 1120px;
    margin-top: 20px;
    font-size: 2rem !important;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
}

div#customervoice_area h2 {
	width: 1130px;
}

#container {
	width: 1140px;
}

table th {
	background-color: #f5f4f3;
}

#main_column .sub_area h3,
#undercolumn_login .login_area h3,
#undercolumn_shopping h3,
#undercolumn_cart h3 {
	color: #a4967d;
}

div#undercolumn_cart .listphoto,
div#undercolumn_shopping .listphoto {
	max-width: 200px;
	margin: auto;
	clear: both;
	float: none;
	display: block;
}
div#undercolumn .listdetail {
	max-width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}
/*購入ボタン*/
.btn_area.btn_type_def input,
.btn_area.btn_type_def a.btn {
	background: #cc0066 none repeat scroll 0% 0%;
	border-radius: 0px;
}

.btn_area.btn_type_def input {
	width: 310px;
	height: 58px;
}

/*お買い物を続けるボタン*/
.btn_area.btn_type_def li a {
    padding: 13px 5px;
    background: #999999 none repeat scroll 0% 0%;
    color: #fff;
    display: block;
    border-radius: 0px;
    margin: 10px;
    text-decoration: none !important;
    font-size: 133%;
    text-align: center;
    width: 280px;
    float: left;
    cursor: pointer;
}


#copyright {
	width: 100%;
}

#main_column.colnum2 {
	width: 820px;
}

div#undercolumn_cart .point_announce {
	width: 1100px;
}

#fixed_link {
	z-index: 9999;
}

/************************************************
グロナビ css
************************************************ */
/*新グロナビCSS*/
#header_login_area p.btn input {
    font-size: 14px;
}
#header_wrap {
    min-height: 82px;
    min-width: 1140px;
    background-color: white;
    transition: all ease-in-out 0.15s;
    box-shadow: 0 0 5px 3px #8884;
    position: sticky;
    top: 0;
    z-index: 100;
}
#header {
	margin-top: 0px;
}

#logo_area {
    width: 220px;
    margin-left: 65px;
    margin-top: -6px;
}
#gloval_navi ul {
    margin: 0px auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#gloval_navi {
    background-color: #ffffff;
    margin-top: 20px;
}
#gloval_navi ul li a:link, #gloval_navi ul li a:visited {
    color: #333;
    text-decoration: none;
}
#gloval_navi ul li a:link:hover,
#gloval_navi ul li a[href]:hover {
	color: #aaaaaa;
	text-decoration: none;
	opacity: 0.8;
}
#site_description {
    text-align: left;
    font-size: 91%;
    margin-bottom: 7px;
    display: none;
}
/*END*/

#gloval_navi ul li a {
	color: #ffffff;
	display: block;
	height: 30px;
	padding: 11px 20px 0;
	font-size: 14px;
}

#header_login_area p.btn input {
	border-radius: 5px;
}

/************************************************
カート内・カートフォント調整 css
************************************************ */

#main_column h2 {
	font-size: 1.1rem;
}

div#undercolumn_cart form p {
	line-height: 1.6;
	font-size: 120%;
}
.frame_outer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}
table select {
	margin-bottom: 10px;
	border: solid 1px #ccc;
	height: 30px;
}
div#undercolumn_shopping table td {
	padding: 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	line-height: 1.7em;
}

#customer_info .customer_detail #account_info .account_change_bloc h3 {
	background: none;
	color: #333;
	text-align: left;
	font-size: 1.1em !important;
	margin: 0;
	font-weight: bold;
	padding: 5px 0 !important;
}
.account_change_bloc li {
	margin: 10px 0px;
}
#customer_info .customer_detail #account_info .account_change_bloc {
	float: left;
	min-width: 190px;
	margin-right: 40px !important;
	-webkit-font-smoothing: antialiased;
}
#customer_info .q_18 {
	font-size: 1.5em;
	border-bottom: solid 1px #333;
}
.form_area p {
	font-size: 120%;
}
p.information {
	font-size: 120%;
}
#mycontents_area.periodical_history .order_status_icon,
#mycontents_area.periodical_order_history .order_status_icon {
	font-size: 14px !important;
	border: solid 1px #ccc;
	padding: 2px 8px;
	display: inline-block;
}
.periodical_history_list .periodical_info .periodical_info_detail {
	float: left;
	margin-top: 7px;
	font-size: 15px !important;
}
.periodical_history_list .periodical_info span.periodical_status,
#mycontents_area.periodical_order_history .periodical_order_detail_bloc span.periodical_status {
	background: #008a00;
	color: #fff;
	padding: 6px 10px !important;
	font-size: 14px !important;
	margin-right: 3px;
}
.ico_teiki img {
    width: 80px;
    margin-bottom: 10px;
}
/************************************************
カレンダー css
************************************************ */
div#undercolumn_shopping #calender_area table {
	margin: 10px auto;
	border-top: none;
	border-left: none;
	width: auto;
	text-align: center;
	width: 96%;
	height: 270px;
	margin: 5px 2%;
}
div#undercolumn_shopping table .calendar th {
	padding: 1px 3px;
	border-right: none;
	border-bottom: 1px solid #ccc;
	color: #333;
	background-color: #f0f0f0;
	font-weight: normal;
	text-align: center;
	height: 40px;
}
/*振込先*/
p.transfer-text {
	font-size: 1.2rem;
	letter-spacing: 0.07rem;
	display: block;
	margin-top: 20px !important;
}
select#deliv_date0 {
	height: 30px;
	margin-top: 5px;
}
select#deliv_time_id0 {
	height: 30px;
	margin-top: 5px;
}
/************************************************
レフトナビ css
************************************************ */
#rightcolumn {
	width: 280px;
	height: auto;
	margin: 0;
	display: block;
	position: sticky;
	top: 0;
}
#container .side_column .block_outer {
	padding: 0;
	width: 280px;
	margin-top: 24px;
}

#cart_area .btn a {
	background: #333333 none repeat scroll 0% 0%;
	border-radius: 0px;
}

#login_area h2,
#search_area h2,
#calender_area h2,
#cart_area h2,
#cart h2,
#category_area h2 {
	font-size: 100%;
	background-color: #ae9e88;
	text-align: center;
	color: #ffffff;
	padding: 10px;
	font-weight: normal;
	border: none;
}

/************************************************
レフトナビ ボタン css
************************************************ */
#custom_btn {
	padding: 10px;
	background: #a4967d none repeat scroll 0% 0%;
	color: #fff;
	display: block;
	border-radius: 5px;
	margin: 10px;
	text-decoration: none;
	font-size: 90%;
	text-align: center;
	border: none;
	width: 260px;
}

#custom_btn:hover {
	opacity: 0.7;
}

/************************************************
 MYページ css
************************************************ */
/*myページ内お知らせテキスト */
#topcolumn {
    margin: 0px;
    background: #fff;
    text-align: left;
    clear: both;
    width: 70%;
}

div#customer_next_rank_info {
    display: none;
}

/*再注文ボタン */
.order_info .nav_btn {
    display: none!important;
}


/*myページボタン */
#header_login_area {
    padding: 0px;
    height: 30px;
    text-align: right;
    margin-top: -20px;
    position: absolute;
    top: 120px;
    right: 20px;
    width: 300px;
    z-index: 1;
}

#main_column.colnum1 #mypagecolumn {
	width: 100%;
}

.order_history_list .order_detail_info .order_item .item_detail {
	width: 75%;
	margin-top: 10px;
	margin-left: 0px;
	float: inherit;
}

.order_history_list .order_detail_info .order_item a.item_image {
	width: 25%;
}

ul#mypage_nav {
	background: none;
}
ul#mypage_nav li {
	border-right: none;
}

ul#mypage_nav li a {
	background: none;
	color: #333;
}

#header_login_area #user_login a {
	background: #a4967d none repeat scroll 0% 0%;
}

/*キーワード検索・パスワード入力兼用*/
input[type="text"],
input[type="password"] {
	border: solid 1px #ccc;
	padding: 5px;
	line-height: 2em;
}
.order_info a.nav_btn {
	display: inline-block;
	float: right;
	padding: 6px 0;
	border-radius: 2px;
	background: #333333;
	border: none;
	text-align: center;
	min-width: 200px;
	color: #ffffff;
	font-size: 13px;
}

/************************************************
 会員登録 css
************************************************ */
.member-completed-ar {
	display: block;
	position: relative;
	margin: 0 10px;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff !important;
	background: #333 !important;
}
.member-completed-al {
	display: block;
	position: relative;
	margin: 0 10px;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff !important;
	background: #333 !important;
	border: none;
}
.simple_square_btn5 {
	display: block;
	position: relative;
	margin: 0 20px;
	width: 240px;
	padding: 0.8em;
	text-align: center;
	font-size: 1.1rem;
}
.member-completed-al:hover {
	opacity: 0.8;
	cursor: pointer;
	text-decoration: none;
	background: #333 !important;
	color: #fff !important;
	border: none;
}
.member-completed-ar:hover {
	opacity: 0.8;
	cursor: pointer;
	text-decoration: none;
}
#member-completed-box {
	padding: 3px;
	padding: 3px;
	margin: auto;
	text-align: center;
	margin-top: 60px;
}

#member-completed-box .member-completed-boxin {
	padding: 0px;
	margin: 0px;
}

#member-completed-box .member-completed-content {
	display: inline-flex;
}

div#undercolumn_entry .kiyaku_text {
	margin: 20px auto;
	padding: 10px;
	border: solid 1px #ccc;
	width: 97%;
	height: 120px;
	background: #fff;
}
/*ソーシャルログイン*/
p.sns-areatext01 {
    font-size: 1.3rem;
    text-align: center;
}
p.sns-areatext02 {
    text-align: center;
    font-size: initial;
}
/************************************************
特定商取引に関する法律に基づく表記ページ css
************************************************ */

.LC_Page_Order table th {
	padding: 20px;
	line-height: 2;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
}

.LC_Page_Order table td {
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
	padding: 20px;
	line-height: 2;
}
textarea#tos_consent {
    height: 200px;
}
/************************************************
プライバシーポリシーページ css
************************************************ */

div#undercolumn_entry h2 {
	font-size: 1.1rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font: normal 2em "Open Sans", sans-serif;
	text-align: center;
}
div#undercolumn_entry {
	padding: 20px;
	line-height: 2;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
}
div#undercolumn_entry h3 {
	margin-top: 40px;
	-webkit-font-smoothing: antialiased;
}

/************************************************
商品ページ css
************************************************ */

/*商品名上のコメント */
#detailarea .main_comment {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
}
/*ここまで */

/*予約ボタン*/

#detailarea .cartin_btn a #cart_reserv {
    width: 370px;
    padding: 15px 0 15px 0;
    color: #ffffff;
    display: block;
    border-radius: 0px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
    background-color: #8a8790;
    border: none;
    margin-bottom: 5px;
}
/*ここまで */


/*注文受付数の表示（1個〜50個まで）のぶん */
.sale_limit {
    display: none;
}
/*ここまで */

/*JANコード・関連カテゴリ */
#detailarea .rcatalog_id dt,
#detailarea .rcatalog_id dd {
	display: none;
}

#detailarea .relative_cat {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	display: none;
}
/*ここまで */


i.fa.fa-heart-o {
    display: none!important;
}
i.fa.fa-heart.on {
    display: none!important;
}

div#detailrightbloc.detaildescriptionbloc form {
    margin-bottom: 40px;
}

/* 項目選択肢CSS */
#detailrightbloc .classlist_chkbox {
	margin-bottom: 10px !important;
	padding-bottom: 0px;
	width: 100%;
	clear: both;
	font-size:0.9rem;
	display: flex;
}
#detailrightbloc .classlist_chkbox .option {
	margin-bottom: 10px;
	float: none;
	margin: 0 auto!important;
	padding-bottom: 0px;
	display: inline-block;
}

#detailrightbloc select {
	border: solid 1px #b7b7b7;
	background-color: white;
	padding: 4px 6px;
	padding-right: 23px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(https://cart.bi-su.jp/user_data/packages/raku2pc/img/icon/121_arr_hoso.png);
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
	border-radius: 4px;
	color: #353535;
	font-size: 90%;
}

#detailrightbloc .classlist_chkbox .chk_class_title {
	font-weight: 400;
	font-size: 86%;
}
#detailrightbloc span.chk_class_title {
	font-family: "Open Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: small;
	-webkit-font-smoothing: antialiased;
}

/*ここまで */

#detailarea .photo {
	max-width: 460px;
}

#main_column.colnum1 #detailrightbloc {
	width: 50%;
	margin-top: 40px;
}

.photo img {
	border: none;
}

#detailarea .cartin_btn a #cart {
	width: 370px;
	background-color: #cc0066;
	font-size: 1em;
	margin-bottom: 10px;
	border-radius: 0px;
}

#detailarea .cart_area {
	max-width: 100%;
}

#detailarea .product_code {
	border: none;
}

#detailarea h2 {
	color: #333;
	font-weight: normal;
	font-size: 1.4em;
}

#detail_type_a .detaildescriptionbloc .cart_area {
	margin-bottom: 20px;
	margin-top: 10px;
}
.plg_Raku2_LC_Page_Products_Detail table {
	margin: 15px auto 10px auto;
}

#main_column .history_list .block_body p.sale_price,
#main_column .recommend_list .block_body p.sale_price {
	text-align: left;
	margin: 7px 0;
	display: block;
	font-size: 85%;
}
#recommend_area .block_body h3,
#main_column .recommend_list .block_body h3,
#main_column .ranking_list .block_body h3,
#main_column .history_list .block_body h3,
#whobought_area .product_item h3 {
	font-size: 85%;
	font-weight: normal;
}
#detailarea ul.status_icon li {
	width: 110px;
}

#detailarea .product_code dt {
	font-size: 0.8em;
}

#ins_catalog_caption_pc .detail_main {
	margin-bottom: 30px;
	font-size: 1.05rem;
	font-weight: normal;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
#ins_catalog_caption_pc .detail_details2 {
	line-height: 1.8em !important;
	margin-bottom: 20px;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
}

#ins_catalog_caption_pc .detail_details {
	line-height: 1.8em !important;
	margin-bottom: 20px;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
}

span.price01_inctax_default {
	font-size: 22px;
}
span.price01_inctax_dynamic {
	font-size: small;
}
span.price02_inctax_default {
	font-size: 22px;
}
span.price02_inctax_dynamic {
	font-size: small;
}
#detailarea .normal_price dt,
#detailarea .normal_price dd {
	display: inline;
	font-size: small;
}

/* ２回目以降の価格を非表示 css*/
/* #notes_price table.pricelist {
    display: none;
}*/
/* ここまで css*/

/*お気に入りボタン css */

#detailarea .favorite_btn a {
	color: #333333;
	border: 1px solid #333333;
	background-color: #f0f0f0;
	font-size: 0.9em;
	border-radius: 0px;
	width: 90%;
	padding-top: 5px;
	height: 20px;
}

#detailarea .favorite_btn a:hover {
	color: white;
	background-color: #f95d6c;
	border-color: #f95d6c;
	opacity: 1;
}
/*ここまで */

/*定期特典ボタン css */
p#item-repeat a {
    color: #fff!important;
    display: block;
    color: #fff!important;
    background-color: #a3957d;
    font-size: 0.9em;
    line-height: 3rem;
    text-align: center;
    border-radius: 0px;
    width: 80%;
    margin: auto;
    font-size: 1.08rem;
    margin-bottom: 30px;
}
#item-repeat a {
	max-width: 100%;
	margin: auto;
	padding: 0.7rem 0;
	position: relative;
}
#item-repeat a:after {
    position: relative;
    left: 70px;
    content: "\f08e";
    font-family: "FontAwesome";
    font-size: 16px;
    display: inline-block;
}
p#item-repeat {
    color: #fff!important;
}

#item-repeat-a a:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
/*ここまで */

#item-detail div {
	border-top: 1px solid #333333 !important;
}

#item-detail div.open dt {
	border-bottom: 1px dotted #333333 !important;
	margin-bottom: 10px;
}

#item-detail {
	margin-top: 2rem;
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
	width: 100%;
	border-bottom: 1px solid #333333 !important;
}
#item-detail div dt:after {
	content: "";
	position: absolute;
	right: 2rem;
	top: calc(50% - 5.5px);
	width: 11px;
	height: 11px;
	background: url(https://cart.bi-su.jp/user_data/packages/raku2pc/img/button/close_u_black.png) center no-repeat !important;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}


/*ここまで */

/*送料無料 css */
#detailarea .deliv_fee .include {
	width: 90px;
	color: #fff;
	font-weight: 500;
	background: #ad9f88;
	padding: 6px;
	text-align: center;
}
/*送料別 css */
#detailarea .deliv_fee .not_include {
	width: 90px;
	color: #fff;
	font-weight: 500;
	background: #999;
	padding: 6px;
	text-align: center;
}
/*ここまで */

/*商品画像メイン css */
#detailarea .photo {
	margin-bottom: 20px;
	margin: auto;
}

/*商品画像サブ css */
#detailarea .sub_photo {
	max-width: 210px;
	margin: 19px;
	display: inline-block;
}

.sub_photo img {
	border: 1px solid #cccccc;
}

#detailarea .photo .picture_message a,
#detailarea .sub_photo .picture_message a {
	display: none;
}
#detailarea .picture_message {
	background: none;
	display: none;
}
/*ここまで */

/************************************************
商品一覧ページ css
************************************************ */
/*商品上のメッセージ */
p.product-message-A {
    display: block;
    width: 980px;
    margin: 100px auto 0;
}

/*商品検索非表示 */
form#search_form {
    display: none;
}
/*定期便アイコン */
div.listrightbloc ul.status_icon li {
    margin-right: 5px;
    float: left;
    width: 90px;
}
/*カテゴリー画像 */
#scategories-bannerarea img {
    width: 550px;
}
#scategories-bannerarea ul.scategories-bannerarea-box {
    display: inline-flex;
    margin: 0 auto;
}
.scategories-bannerarea-box li {
    margin: 0 10px;
}
div#scategories-bannerarea {
    width: 100%;
    text-align: center;
}


/*ページャー css */
.navi a {
	background: none;
	border-radius: 0px;
}
.pagenumber_area .navi a,
.pagenumber_area .navi strong {
	border: solid 1px #333;
	padding: 10px 15px;
	display: inline-block;
	line-height: 24px;
	margin: 0px 6px;
}
.pagenumber_area .navi {
	width: 100%;
}
.pagenumber_area .change {
	float: right;
	text-align: right;
	white-space: nowrap;
	padding-top: 10px;
	display: none;
}
form#search_form #search_keyword_top input#btn_kwd_search {
	background: #333333;
	color: #fff;
	border: none;
	height: 27px;
	width: 15%;
	float: right;
}
form#search_form #search_keyword_top select {
	height: 27px;
	width: 150px;
	float: left;
	margin: 0px 0px 0px 4px;
}
/*ここまで */

/*アコーディオン商品詳細テキスト css */
#item-detail div p {
	line-height: 1.8;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
}

#item-detail div h3 {
	font-weight: 400;
}

#item-detail .item-detail-sub1 {
	color: #9b8259;
	font-family: "Cormorant Infant", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ,
		Meiryo, serif;
	font-size: 1rem;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	margin-top: 10px;
}

#item-detail .item-detail-sub2 {
	color: #9b8259;
	font-family: "Cormorant Infant", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ,
		Meiryo, serif;
	font-size: 1rem;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	margin-top: 10px;
}

/*ここまで */

/*定期便ページへボタン css */
/*.fixedterm_box{
    min-width: 371px;
    padding-bottom: 15px;
    background-color: #F0F0F0;
    border: 1px solid #E2E2E2;
}
.fixedterm_box a.fixedterm_bt {
    width: 370px;
    background-color: #a4967d;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 15px 0 15px 0;
    color: #FFF;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 166px;
}
p.fixedterm_text {
    text-align: left;
    color: #333;
    font-weight: normal;
    font-size: 1.4em;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 15px;
}*/
/*ここまで */

/*定期便テキスト非表示 css */
[id^="form2_"] .detail_main {
	display: none;
}

[id^="form2_"] .detail_details {
	display: none;
}

[id^="form2_"] #item-detail {
	display: none;
}

[id^="form2_"] .iframe_rankbox {
	display: none;
}
/*ここまで */

.pagenumber_area .change select {
	border: solid 1px #ccc;
	height: 27px;
}

/************************************************
 footer css
************************************************ */

#footer_wrap {
	width: 1140px;
}

#footer_inner {
	padding: 50px 10px;
	font: normal 1em/2em "Open Sans", sans-serif;
	font-size: 15px !important;
}
#footer ul {
	text-align: center;
	display: inline-block;
	margin: 30px auto 18px;
	font-size: 14px;
}
#footer {
	width: 1140px;
	margin-top: 100px;
}

#footer .footer_contents {
	width: 343px;
}

#footer ul li:first-child {
	border-left: 1px solid #333;
	line-height: 1.6em;
}

#footer ul li {
	border-right: 1px solid #333;
}

#footer h2 {
	font-family: serif;
}

#footer .footer_contents h3 {
	font-family: serif;
}

#footer .footer_contents p {
	width: 300px;
	font-family: "Cormorant Infant", "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

/************************************************
bxslider css
************************************************ */

#main_column .recommend_list .bx-wrapper {
	box-shadow: none !important;
	border: none !important;
	margin: auto;
	padding: 100px 0px 140px;
	width: 100%;
}

#main_column .recommend_list .bx-wrapper .bx-controls-direction {
	display: none;
}

#main_column .ranking_list .bx-wrapper,
#main_column .history_list .bx-wrapper {
	box-shadow: none !important;
	border: none !important;
	background: #f0f0f0;
	margin: auto;
	padding: 50px 140px 140px;
}

.bx-wrapper .bx-pager {
	display: none;
}

/************************************************
最近チェックした商品 css
************************************************ */

#main_column .history_list h2 {
	border-bottom: none;
}

#main_column .history_list h2.ck_item,
h3.re_checked {
	font-weight: normal;
	text-align: center;
}

.re_checked_box {
	position: relative;
	background-color: #f0f0f0;
}

#main_column .history_list h2.ck_item {
	z-index: 1;
	border-top: none;
	background: #f0f0f0;
	color: #333;
	font-size: 2.5rem;
	font-family: "Cormorant Infant", serif;
	text-align: center;
	letter-spacing: 0.1em;
	padding-top: 50px;
}

#main_column .history_list h3.re_checked {
	z-index: 1;
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	color: #111;
}

.bx-wrapper .bx-controls-direction a {
	margin-top: -90px !important;
}

/************************************************
おすすめ商品 css
************************************************ */

#main_column .recommend_list .bx-wrapper {
	background: transparent;
}

#main_column .recommend_list {
	margin-bottom: 0px;
	margin-top: 200px;
	display: block;
}

#main_column .recommend_list h2 {
	border-bottom: none;
}

#main_column .recommend_list h2.rec_item,
h3.h3.rec_checked,
h3.rec_checked_cosme {
	font-weight: normal;
	text-align: center;
}

.re_recommen_box {
	position: relative;
}

#main_column .recommend_list h2.rec_item {
	border-top: none;
	color: #333;
	font-size: 2.5rem;
	font-family: "Cormorant Infant", serif;
	text-align: center;
	letter-spacing: 0.1em;
	padding-bottom: 0;
}

#main_column .recommend_list h3.rec_checked {
	z-index: 1;
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	color: #111;
	font-weight: normal;
	border-bottom: solid 1px #333;
	width: 600px;
	margin: auto;
	line-height: 3em;
	text-align: center;
}

.history_list {
	background: #f5f4f3;
}

/*コスメ*/
#main_column .recommend_list h3.rec_checked_cosme {
	z-index: 1;
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	color: #111;
	font-weight: normal;
	border-bottom: solid 1px #333;
	width: 600px;
	margin: auto;
	line-height: 3em;
	text-align: center;
}

/************************************************
ランキングifram css
************************************************ */
#detailarea {
	position: relative;
}
.iframe_rankbox {
	display: block;
}
iframe#inline-frame_rank {
	width: 462px;
	height: 400px;
	margin-left: 20px;
	display: none;
}
#ins_catalog_caption_pc #inline-frame_rank {
	width: 460px;
	height: 600px;
}

#ins_catalog_caption_pc .iframe_rankbox #container {
	width: 460px;
}

#main_column .ranking_list {
	display: block;
	width: 420px;
	height: 300px;
	padding: 10px 20px 42px;
	border: 1px solid #cccccc;
}

#main_column .ranking_list .block_body {
	overflow-y: scroll;
	height: calc(100% - 84px);
}

#main_column .ranking_list .block_body::-webkit-scrollbar {
	display: none;
}

#main_column .ranking_list .product_item {
	width: 42%;
	display: block;
}

#inline-frame_rank .clearfix {
	width: 460px;
}

#main_column .ranking_list .block_body .productImage img {
	width: 98%;
}

#main_column .ranking_list .block_body h3 {
	width: 240%;
	padding-top: 20px;
	font-size: 0.9rem;
}

#main_column .ranking_list .block_body p {
	display: flow-root;
}

#main_column .ranking_list .block_body span.price {
	width: 230px;
	display: block;
}

#main_column .ranking_list .block_body .rank {
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	font-weight: normal;
	color: #333333;
}

/*タイトルテキスト css */
#main_column .ranking_list h2.ck_ranking {
	z-index: 1;
	border-top: none;
	color: #ae9e88;
	font-size: 1.5rem;
	font-family: "Cormorant Infant", serif;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: normal;
	border: none;
	padding: 20px 0 0 0;
	margin: 0;
}

.ranking_list h3.re_ranking {
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	font-weight: normal;
	text-align: center;
	color: #111;
	border-bottom: solid 1px #e9e9e9;
	padding: 0 0 16px 0;
}
/*ここまで css */

/************************************************
TOPへ戻るボタン css
************************************************ */
#fixed_link {
	display: none;
}
.block-page-top {
	position: fixed;
	top: auto;
	bottom: 30px;
	right: 30px;
	display: none;
	z-index: 999;
}
.block-page-top a {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #333;
}

.block-page-top a:after {
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	transform: rotate(-45deg);
	left: 49%;
	top: 50%;
	margin-top: -3px;
	margin-left: -5px;
}

/************************************************
ギフト開閉スタイル css
************************************************ */

details#ribbon {
	transition: 1s;
	height: 6em;
	margin-top: 30px;
	width: 1140px;
	display: flow-root;
	padding-bottom: 20px;
	margin: auto;
	cursor: pointer;
	cursor: hand;
}

details#ribbon[open] {
	height: 1300px;
	overflow: hidden;
	background-color: white;
}

details#ribbon2 {
	height: 6em;
	transition: 1s;
}

details#ribbon2[open] {
	height: 550px;
	overflow: hidden;
}

summary.ribbon_gift {
	background-color: #a4967d;
	text-align: -webkit-center;
	color: white;
	font-size: 1rem;
	line-height: 3em;
	border-radius: 3px;
	width: 450px;
	margin: auto;
	margin-top: 20px;
}
summary.ribbon_gift:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

li.wrappingnavi1 {
	width: 200px;
	margin: 20px 10.8px;
	display: -webkit-inline-box;
}
ul.wrapping-boxul {
	margin-bottom: 20px;
	width: 100%;
	height: 220px;
	list-style: none;
}
.ribbonnavi1-sp {
	width: 100%;
}

h3.ribbon-text001 {
	clear: both;
	color: #9b8259;
	font-family: "Cormorant Infant", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ,
		Meiryo, serif;
	font-size: 1.1rem;
	margin-top: 20px;
	padding-bottom: 5px;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	margin-top: 80px;
	border-bottom: 1px dotted #ad9f88;
}

ul.ribbon-boxul {
	margin-top: 20px;
	padding: 0;
	height: 140px;
	width: 100%;
	list-style: none;
}
li.ribbonnavi1 {
	width: 176px;
	margin: 20px 0px;
	display: -webkit-inline-box;
}

h2.ribbon-text01 {
	margin-top: 20px;
	text-align: center;
	font-family: "Cormorant Infant", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ,
		Meiryo, serif;
	font-weight: normal;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

#ribbon p.ribbon-text02 {
	line-height: 1.8em;
	font-size: 0.8rem;
}

li.ribbonnavi12 {
	width: 400px;
	margin-bottom: 20px;
	margin: 20px 25px;
	float: left;
}
/*ギフト開閉スタイルここまで*/

/************************************************
▼▼ギフトページ CSS▼▼
************************************************ */
div#gift_guide-wrapper .gift_guide-mainbox {
	position: relative;
	margin-top: 40px;
	margin-bottom: 60px;
	border: 1px solid #ccc;
    padding: 45px 40px;
    width:100%;
	max-width: 740px;
}

p.back_gift a {
	color: #fff !important;
	display: block;
	background-color: #a3957d;
	font-size: 0.9em;
	line-height: 3rem;
	text-align: center;
	border-radius: 0px;
	width: 310px;
	padding: 5px 0px;
	margin: auto;
	text-decoration: none;
}
p.back_gift {
    font-size: 1.1rem!important;
}
div#gift_guide-wrapper h3 {
	margin: 0 0 25px;
	padding: 10px 0 10px 30px;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 1.5px;
	position: relative;
	z-index: 0;
	line-height: 1;
	text-align: left;
}

div#gift_guide-wrapper h3:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	content: "";
	border-left: #ae9e88 2px solid;
	z-index: -1;
}

div#gift_guide-wrapper h4 {
	font-weight: 500;
	font-size: medium;
	padding: 15px 0;
	margin-bottom: 20px;
	border-bottom: #d8d0bf 1px dotted;
	border-top: #d8d0bf 1px dotted;
}

div#gift_guide-wrapper dl.gift_guide-howtobox {
	margin: 25px 0 0;
	padding: 15px 25px 25px;
	background: #f0f0f0;
}

div#gift_guide-wrapper p,
dd,
dl,
ol {
	line-height: 2em;
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
}
div#gift_guide-wrapper p.title-sab {
	text-align: center;
	font-size: large;
	width: 100%;
}

div#gift_guide-wrapper dl.gift_guide-howtobox li {
	list-style-type: decimal;
	list-style-position: inside;
	padding: 10px 0px;
	font-size: medium;
}

div#gift_guide-wrapper dt {
	line-height: 2em;
	font-size: medium;
	-webkit-font-smoothing: antialiased;
	margin-top: 20px;
}

div#gift_guide-wrapper picture img {
	width: 740px;
}

/************************************************
▲▲ギフトページCSSここまで▲▲
************************************************ */

/************************************************
▼▼カートライトブロックCSS▼▼
************************************************ */
.block_body-itembox {
	text-align: center;
}
.block_body-itembox img {
	width: 200px;
	margin: auto;
	display: block;
}
p.block-itembox-maintex {
	padding-bottom: 10px;
}
.block_outer-itembox {
	margin: 190px 0 0 !important;
}
p.block-itembox-maintex,
.block-itembox-maintex2 {
	text-align: left;
}
p.block-itembox-maintex2 {
	letter-spacing: 0.04em;
	font-size: medium;
	border-top: 1px dotted #cccccc;
	padding: 10px 0;
	text-align: center;
}
span.block-itembox-maintexsab {
	font-size: small;
}
.btn input {
	background: #333333 none repeat scroll 0% 0%;
	border-radius: 0px;
}
/*検索BOXフォント*/
.box145 {
	width: 145px;
	font-size: small;
}
/************************************************
▲▲カートライトブロックCSSここまで▲▲
************************************************ */

/************************************************
▼▼アップセルCSS▼▼
************************************************ */

.buy-infoimg {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 100px;
}

/************************************************
 miranest import css ▼▼ミラネストCSS▼▼
************************************************ */

/*新グロナビCSS*/
img.b-logoblock-m {
    width: 270px;
    margin-top: 5px;
}
#logo_area-m img.b-logoblock {
	width: 270px;
}
#logo_area-m {
    margin-left: 35px;
    margin-top: -6px;
    display: block;
    float: left;
}
#header_wrap-m {
    min-height: 82px;
    min-width: 1140px;
    background-color: #222421;
    transition: all ease-in-out 0.15s;
    box-shadow: 0 0 5px 3px #8884;
    position: sticky;
    top: 0;
    z-index: 100;
}
#gloval_navi-m ul {
    width: 900px;
    margin: 0px;
    height: 40px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
#gloval_navi-m {
    background-color: #222421;
    margin-top: 20px;
}
#gloval_navi-m ul li a:link, #gloval_navi-m ul li a:visited {
    color: #fff;
    text-decoration: none;
}
#gloval_navi-m ul li a:link:hover,
#gloval_navi-m ul li a[href]:hover {
	color: #aaaaaa;
	text-decoration: none;
	opacity: 0.8;
}

#gloval_navi-m ul li a {
	color: #ffffff;
	display: block;
	height: 30px;
	padding: 11px 30px 0;
	font-size: 14px;
}
/*END*/

/*
#gloval_navi_m {
	background-color: #1f3a39;
	margin-top: 10px;
}
#gloval_navi_m ul {
	width: 980px;
	margin: 0px auto;
	height: 40px;
	display: flex;
	justify-content: center;
}
#gloval_navi_m ul li a:link,
#gloval_navi_m ul li a:visited {
	color: #ffffff;
	text-decoration: none;
}
#gloval_navi_m ul li a {
	color: #ffffff;
	display: block;
	height: 30px;
	padding: 10px 30px 0;
}
#gloval_navi_m ul li a:link:hover,
#gloval_navi_m ul li a[href]:hover {
	color: #ffce3d;
	text-decoration: none;
}

*/

#main_column p.check-onlinemail {
	text-align: center;
	font-size: medium;
	line-height: 2em;
	padding-top: 10px;
}
#main_column p.check-onlinemail2 {
	text-align: center;
	font-size: medium;
	line-height: 2em;
	padding-bottom: 20px;
}

#order-form .step-box-mimg {
	width: 200px;
}

#header_login_area div.btn-m a {
	background: #ae9e87 none repeat scroll 0% 0%;
	border-radius: 0px;
}

#form1 label.yu-packet_check-box {
	display: block;
	padding-bottom: 20px;
}
#form1 span.yu-packet_check-text {
	font-weight: bold;
}
#main_column .history_list-m {
	margin-bottom: 30px;
	margin-top: 100px;
}
#main_column .history_list h2.ck_item-m {
	z-index: 1;
	border-top: none;
	background: #f0f0f0;
	color: #a4967d;
	font-size: 2.5rem;
	font-family: "Cormorant Infant", serif;
	text-align: center;
	letter-spacing: 0.1em;
	padding-top: 50px;
}
#main_column .history_list h3.re_checked-m {
	z-index: 1;
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
	font-size: 0.8rem;
	color: #111;
}

body.plg_Raku2_LC_Page_Entry_Lp_New #footer ul {
	text-align: center;
	display: inline-block;
	margin: 30px auto 18px;
	width: 66%;
	margin-left: 17%;
}

/* TOPへ戻るスタイル css */
.block-page-topmira {
	position: fixed;
	top: auto;
	bottom: 30px;
	right: 30px;
	display: none;
	z-index: 999;
}
.block-page-topmira a {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #1e3a39;
}

.block-page-topmira a:after {
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	transform: rotate(-45deg);
	left: 49%;
	top: 50%;
	margin-top: -3px;
	margin-left: -5px;
}

p.miranest_notice {
	font-size: medium;
	color: #f53f4d;
	text-align: center;
}
/* フッタースタイル css */
#footer h2.miranesutfooter_guide {
	padding: 10px;
	background: #222421 none repeat scroll 0% 0%;
	color: #fff;
	text-align: center;
}

/* ギフト開閉スタイル css */

details#ribbon-m {
	transition: 1s;
	height: 6em;
	margin-top: 30px;
	width: 900px;
	display: flow-root;
	padding-bottom: 20px;
	margin: auto;
	cursor: pointer;
	cursor: hand;
}

details#ribbon-m[open] {
	height: 600px;
	overflow: hidden;
	background-color: white;
}

details#ribbon2 {
	height: 6em;
	transition: 1s;
}

details#ribbon2[open] {
	height: 550px;
	overflow: hidden;
}

#ribbon-m p.ribbon-text02 {
	line-height: 1.8em;
	font-size: 0.8rem;
}

/*ギフト開閉スタイルここまで*/

/************************************************
▲▲ミラネストCSSここまで▲▲
************************************************ */

/************************************************
▼▼Amazon Pay▼▼
************************************************ */

img#OffAmazonPaymentsWidgets1 {
	width: 300px !important;
	height: 68px !important;
	max-height: 68px !important;
	margin: auto;
}

p.alignC {
	margin-top: 30px !important;
	margin-bottom: 10px !important;
	display: block;
}
img#OffAmazonPaymentsWidgets0 {
	width: 300px !important;
	height: 68px !important;
	max-height: 68px !important;
	margin: auto;
}

form#form1 .login_area h3 {
    text-align: center !important;
	text-align: center!important;
	margin: 20px auto 0!important;
	margin-bottom: 0!important;
	padding: 0!important;
}

form#form1 p.inputtext {
    text-align: center !important;
    margin-bottom: 10px;
}



/************************************************
▼▼楽々プレメッセージ公開後に削除▼▼
************************************************ */
.env_message {
	display: none;
}
.env_message_blank {
	display: none;
}
/************************************************
▲▲楽々プレメッセージ公開後に削除▲▲
************************************************ */
