---
let { type = 'button' , text = "詳しく", href = "#"} = Astro.props;
---

<div class="flex justify-center mt-12">
	<a href={href} class="w-10/12 md:w-8/12 mx-auto text-center bg-main-light-green text-white shadow-xl px-3 py-3 inline-block text-xl">{text}</a>
</div>