---
 import MiranestLogo from '$images//Miranest-Logo.png';
---
<style>

li{
  margin:1rem 0px;
}
</style>
<footer class="pb-4 pt-12 bg-black text-white px-8 md:px-36">

    <div class="flex flex-col md:flex-row justify-between">
             <div class="md:w-3/12 my-8">
                <h5 class="text-uppercase pb-3" style="border-bottom:2px solid white;">メニュー</h5>
                    <ul class="list-unstyled">
                    <li>
                        <a href="/top" class="text-decoration-none">TOP</a>
                    </li>
                    <li>
                        <a href="/about" class="text-decoration-none">ミラネストについて</a>
                    </li>
                    <li>
                        <a href="/bird-nest" class="text-decoration-none">ツバメの巣について</a>
                    </li>
                    <li>
                        <a href="/products/powder" class="text-decoration-none">商品購入</a>
                    </li>
                    <li>
                        <a href="/guide/user" class="text-decoration-none">ご案内</a>
                    </li>
                    </ul>
            </div>

            <div class="md:w-3/12 my-8">
                <h5 class="text-uppercase pb-3" style="border-bottom:2px solid white;">ショッピング</h5>
                    <ul class="list-unstyled">
                        <li>
                        <a href="" class="text-decoration-none">ログイン</a>
                        </li>
                        <li>
                        <a href="#!" class="text-decoration-none">新規会員登録</a>
                        </li>
                        <li>
                        <a href="" class="text-decoration-none">お買物カート</a>
                        </li>
                    </ul>
            </div>

        <div class="md:w-3/12 my-8">
          <h5 class="text-uppercase pb-3" style="border-bottom:2px solid white;">関連ブランド</h5>
          <ul class="list-unstyled ">
            <li>
              <a href="www.bi-su.jp" class="text-decoration-none">BI-SU</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="flex flex-col md:flex-row items-center justify-between md:mt-12">
        <div class="md:w-3/12 my-3">
        <a href="/policy/privacy">プライバシーポリシー</a>
        </div>

        <div class="md:w-3/12 my-3">
           <a href="/policy/law">特定商取引法に基づく表記</a>
        </div>

        <div class="md:w-3/12 my-3">
          <img src={MiranestLogo}/>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">世界初ツバメの巣ペット用栄養補助食品「ミラネスト」 ©2016-2022 M-Style-Japan Co.,Ltd.
    </div>
</footer>