---
let { HeroImgSP = '' , HeroImgPC = "",TextColor = "text-black" , HeaderText = ""} = Astro.props;

---
<section class="relative ">
    <h1 class="absolute text-md lg:text-4xl left-1/2 lg:left-[30%] w-9/12 lg:w-[27%] top-[25%] lg:top-[20%] transform -translate-x-1/2 translate-y-1/2 lg:leading-[70px] text-left {TextColor}">{HeaderText}</h1>
             <picture>
                <source srcset={HeroImgSP} type="image/png" media="(max-width:480px)" />
                <img src={HeroImgPC} class="w-full"/>
            </picture>
</section>