---
let { HeroImgSP = '' , HeroImgPC = "",TextColor = "text-black" , HeaderText = ""} = Astro.props;

---
<section class="relative md:h-[800px]">
    <h1 class="absolute text-md md:text-4xl left-1/2 md:left-[30%] w-9/12 md:w-[27%] top-[25%] md:top-[20%] transform -translate-x-1/2 translate-y-1/2 md:leading-[70px] text-left {TextColor}">{HeaderText}</h1>
             <picture>
                <source srcset={HeroImgSP} type="image/png" media="(max-width:480px)" />
                <img src={HeroImgPC} class="w-full"/>
            </picture>
</section>