---
import '../styles/global.css'
const { title = "世界高水準ペット用ツバメの巣栄養補助食品", description = "「ミラネスト」では、最も希少価値の高いマレーシア山間部で採れた 高品質の天然アナツバメの巣を贅沢に使用した、 元気と健康を保つ世界高水準ペット用ツバメの巣栄養補助食品パウダー",keywords } = Astro.props;

---
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="title" content={title} >
    <meta name="description" property="og:description" content={description}>
    <meta name="keywords" content={keywords}>
    <meta name="copyright" content="M-Style Japan"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico"/>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script hoist src="../js/common.js">
    // Processed! Bundled! ESM imports work, even to npm packages.
    </script>
