---
import LogoText from '../images/logo.png';
import CartImg from '../images/cart-ico.svg';
import FbImg from '../images/fb-ico.svg';
import IgImg from '../images/ig-ico.svg';

---

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<nav class="hidden md:block relative">
 <div class="pb-2 bg-main-green flex items-center justify-center flex-col shadow" >
        <a href="/top"><img src={LogoText} class="h-12 mb-5"/></a>
        <div class="w-full flex-row flex">
        <div class="flex justify-evenly py-2 w-10/12">
            <li class="block"><a href="/effects" class="text-white px-5 text-base hover:border-b hover:border-golden hover:text-golden">ミラネストの効果</a></li>
            <li class="block"><a href="/about" class="text-white px-5 text-base hover:border-b hover:border-golden hover:text-golden">ミラネストについて</a></li>
            <li class="block"><a href="/bird-nest" class="text-white px-5 text-base hover:border-b hover:border-golden hover:text-golden">ツバメの巣について</a></li>
            <li class="block"><a href="/products/list" class="text-white px-5 text-base hover:border-b hover:border-golden hover:text-golden">商品購入</a></li>
            <li class="block"><a href="/guide/user" class="text-white px-5 text-base hover:border-b hover:border-golden hover:text-golden">ご案内</a></li>
        </div>
        <ul class="flex w-1/12">
            <li class="block"><embed src="/cart-ico.svg" class="h-7 mx-5"/></li>
            <li class="block"><embed src="/fb-ico.svg" class="h-7 mx-2"/></li>
            <li class="block"><embed src="/ig-ico.svg" class="h-7"/></li>
        </ul>
        </div>
    </div>
</nav>



<div class="md:hidden w-full text-gray-700 bg-main-green">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="px-4 flex flex-row items-center justify-between">
     <a href="" class="flex items-center justify-center px-2 w-full">
          <img class="block h-9 lg:h-12 w-auto mr-2" src={LogoText} alt="Logo bi-su" />
        </a>

      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="#fff" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M 3 5 a 1 1 0 0 1 1 -1 h 12 a 1 1 0 1 1 0 2 H 4 a 1 1 0 0 1 -1 -1 z M 3 10 a 1 1 0 0 1 1 -1 h 12 a 1 1 0 1 1 0 2 H 4 a 1 1 0 0 1 -1 -1 z M 3 15 a 1 1 0 0 1 1 -1 h 12 a 1 1 0 1 1 0 2 h -12 a 1 1 0 0 1 -1 -1 z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow pb-4 px-3 md:pb-0 hidden md:flex md:justify-end md:flex-row bg-white md:bg-transparent md:text-white h-screen md:h-12">

      <a class="border-b border-dotted border-black px-4 py-4 mt-2 text-sm font-semibold bg-transparent md:mt-0 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline" href="/effects">ミラネストの効果</a>
      <a class="border-b border-dotted border-black px-4 py-4 mt-2 text-sm font-semibold bg-transparent md:mt-0 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline" href="/about">ミラネストについて</a>
      <a class="border-b border-dotted border-black px-4 py-4 mt-2 text-sm font-semibold bg-transparent md:mt-0 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline" href="/bird-nest">ツバメの巣について</a>
      <a class="border-b border-dotted border-black px-4 py-4 mt-2 text-sm font-semibold bg-transparent md:mt-0 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline" href="/products/list">商品購入</a>
      <a class="border-b border-dotted border-black px-4 py-4 mt-2 text-sm font-semibold bg-transparent md:mt-0 md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline" href="/guide/user">ご案内</a>
    </nav>
  </div>
</div>

