---
import MiranestPrdImg from '../images/image_45.png';
---

     <section class="mt-10 md:flex md:py-12 gap-8 md:px-32">
        <div class="md:flex flex-col justify-center md:w-1/3 p-3">

            <h2 class="text-4xl ">NEWS</h2>
            <p>「ミラネストエキスパウダースティック」をリニューアルし、「ミラネストパウダー」が誕生しました</p>
              <a href="../products/list" class="hidden w-full text-center bg-main-red text-white shadow-xl px-3 py-3 text-xl" >詳しくはこちら <i class="v v-right ms-2"></i></a>
        </div>



        <div class="md:flex flex-col justify-between md:w-1/3 p-3">
            <img src={MiranestPrdImg} class="w-full" alt="powder"/>
            <div>
            <p class="text-gray-500">2018/01/10</p>
            <p>2019年3月1日より「ミラネスト」定期購入が10%OFFに</p>
            </div>

        </div>
        <div class="block md:hidden w-full p-3">
        <a href="#" class="inline-block w-full text-center bg-main-red text-white shadow-xl px-3 py-3  text-xl hidden" >全て見る <i class="v v-right ms-2"></i></a>
        </div>
    </section>