---
import MiranestPrdImg from '../images/image_45.png';
---

     <section class="mt-10 grid grid-cols-1 lg:grid-cols-3 lg:px-20">
        <div class="lg:flex flex-col justify-center col-span-1 p-3">
            <h2 class="text-[15px] lg:text-[24px] text-center lg:text-left">NEWS</h2>
        </div>


        <div class="lg:flex flex-col justify-between col-span-2  p-3">
        <div class=" m-2 text-[15px] lg:text-[16px]">
             <p class="text-gray-400">2022/01/10</p>
            <p>「ミラネストエキスパウダースティック」をリニューアルし、「ミラネストパウダー」が誕生しました</p>
        </div>
        <div class="m-2 text-[15px] lg:text-[16px]">
            <p class="text-gray-400 ">2022/03/27</p>
            <p>2019年3月1日より「ミラネスト」定期購入が10%OFFに</p>
        </div>
        </div>
    </section>