---
import Nav from '../components/Nav-2.astro';
import Footer from '../components/Footer.astro';
import 'aos/dist/aos.css';
import Head from '../components/Head.astro';
const { title = "世界高水準ペット用ツバメの巣栄養補助食品", description = "「ミラネスト」では、最も希少価値の高いマレーシア山間部で採れた 高品質の天然アナツバメの巣を贅沢に使用した、 元気と健康を保つ世界高水準ペット用ツバメの巣栄養補助食品パウダー" } = Astro.props;

---
<html lang="ja">
  <head>
        <Head />
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  </head>
  <body>
    <Nav/>
    <main class="mx-auto max-w-[1400px]">
    <slot />
    </main>
    <Footer/>
  </body>
<script type="module" src={(await import("../js/common.js?url")).default}></script>
</html>