---

import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout>
    <section class="mt-32 px-3 md:px-52">
        <h1 class="text-4xl  text-center">特定商取引に関する法律に基づく表記</h1>

        <p class="text-base mt-10 text-center">ミラネストで取り扱う商品・サービスのうち、当社が販売者の商品・サービス（当社が提供するサービスに限る）について、「特定商取引に関する法律」第11条に基づき、次のとおり明示します。</p>
    </section>
</BaseLayout>