---

import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout>
    <section class="mt-32 px-52">
        <h1 class="text-4xl text-main-light-green text-center">プライバシーポリシー</h1>

        <p class="text-base mt-10 text-center">このサイトはプライバシー保護に最大限の注意を払っております。 プライバシーの考え方は、次のとおりです。</p>
    </section>
</BaseLayout>