---

import BaseLayout from '../../layouts/BaseLayout.astro'

---
<BaseLayout>
    <section class="mt-32 px-3 md:px-52">
        <h1 class="text-4xl  text-center">お取引についてのお問い合わせ</h1>

        <p class="text-base mt-10 text-center">「ミラネスト」商品のお取引（商品仕入れ）のお申し込みは、こちらからお願いいたします。折り返し担当よりご連絡させていただきます。 <br><small>※通常購入のお客様のお問い合わせはこちらへ</small></p>
    </section>
</BaseLayout>